In [2]:
import mysql.connector

conn = mysql.connector.connect(host = "localhost",user = "root",passwd = '####')

In [5]:
# cursor object

cursor = conn.cursor()

In [6]:
# show all databases

cursor.execute('show databases')

for i in cursor:
    print(i)

('db1',)
('db2',)
('db3',)
('db4',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [16]:
## create database
cursor.execute('create database if not exists pythondb2') ## if not exists to avoid if that db already exist

In [17]:
cursor.execute('show databases')
for i in cursor:
    print(i)

('db1',)
('db2',)
('db3',)
('db4',)
('information_schema',)
('mysql',)
('performance_schema',)
('pythondb',)
('pythondb2',)
('sys',)

In [35]:
# referencing the database directly while connecting

conn = mysql.connector.connect(host = "localhost",user = "root",passwd = '####',database = 'pythondb2' )

In [36]:
cursor = conn.cursor()

In [40]:
# creating the table
cursor.execute('create table if not exists student(roll_no int not null primary key,student_name varchar(20) not null,age int not null)')

In [39]:
# adding values to table -- one by one

q = 'insert into student(roll_no,student_name,age) values(%s,%s,%s)'
value = (503,'Raju',25)

try:
    cursor.execute(q,value)
    conn.commit()    ## steps to make these changes
except:
    conn.rollback()

In [41]:
conn.close()

In [ ]:
#########################################################################################

In [42]:
## adding multiple values to the table

conn = mysql.connector.connect(host = "localhost",user = "root",passwd = '#####',database = 'pythondb2' )
cursor = conn.cursor()

In [44]:
q = 'insert into student(roll_no,student_name,age) values(%s,%s,%s)'
values = [(504,'Ramu',20),(505,'Rajeev',27),(506,'lakshmi',23),(507,'sonam',27),(508,'jayaram',29),(509,'mammooty',30),(510,'Dq',28)]

In [45]:
cursor.executemany(q,values)

In [46]:
conn.commit()

In [47]:
cursor.execute('select * from student')
cursor.fetchall()

[(501, 'Ak', 25),
 (502, 'Akhil', 28),
 (503, 'Raju', 25),
 (504, 'Ramu', 20),
 (505, 'Rajeev', 27),
 (506, 'lakshmi', 23),
 (507, 'sonam', 27),
 (508, 'jayaram', 29),
 (509, 'mammooty', 30),
 (510, 'Dq', 28)]

In [52]:
print(cursor.rowcount)

10

In [48]:
##################################################################

In [53]:
# alter -- add new column,constraints(like primary key), delete column
# alter table table-name add column-name datatype
# eg : alter table student add section varchar(3) default 'A'

# alter table table-name add primary key(rollno)

# alter table table-name drop column column-name

In [54]:
# update table-name set column-name = value where condition
#eg: update student set branch = 'ece' where rollno = 502

In [56]:
import mysql.connector
conn = mysql.connector.connect(host='localhost',user='root',passwd='#####',database = 'pythondb2')

cur = conn.cursor()
cur.execute('alter table student add branch varchar(10) default "cse"')
conn.commit()

In [57]:
import mysql.connector
conn = mysql.connector.connect(host='localhost',user='root',passwd='####',database = 'pythondb2')

cur = conn.cursor()
cur.execute('update student set branch ="physics" where student_name = "Akhil"')
conn.commit()

In [58]:
#####################################

In [59]:
## delete -- remove records of a table
## drop -- removing complete table

# delete from table table-name where condition
# eg : delete from student where percentage < 90

    # conn.commit --to make changes -- mandatory
    
# alter table table-name drop column column-name


# drop table table-name

In [60]:
##################################

In [61]:
import mysql.connector
conn = mysql.connector.connect(host='localhost',user='root',passwd='#####',database = 'pythondb2')

cur = conn.cursor()
cur.execute('delete from student where student_name like "m%"')
conn.commit()

In [62]:
cur.execute('alter table student drop column branch')
conn.commit()